fieldset{

width: 350px;
height: 300px;
background-color: #BCD2EE;

}

#a{

border-radius: 10px;
border-color:green;
background-color: green;
font-size: 15px;
}

#b{

border-radius: 10px;
border-color:red;
background-color: red;
font-size: 15px;

}

legend{

font-size: 20px;
font-family: 'Josefin Sans', sans-serif;

}