fieldset{

width: 300px;
height: 225px;
background-color: #ADD8E6;
border-radius: 20px;

}

#a{

border-radius: 10px;
border-color:green;
background-color: green;
font-size: 15px;
}

#b{

border-radius: 10px;
border-color:red;
background-color: red;
font-size: 15px;

}

legend{

font-size: 25px;
font-family: 'Josefin Sans', sans-serif;

}